*,
*::before,
*,
*::after {
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: Pixeloid;
  src: url(fonts/Pixeloid.ttf);
}

html {
  background-color: rgba(0, 0, 0, 0.198);
  background-image: url("/images/background.png");
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.overall {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url("/images/gameBackground.png");
  background-size: cover;
  border: 10px red solid;
  border-radius: 40px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.score {
  font-family: Pixeloid;
  position: absolute;
  font-size: 7vmin;
  right: 1vmin;
  height: 300px;
}

.start-screen {
  position: absolute;
  font-size: 4vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Pixeloid;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.bobcat {
  --bottom: 0;
  position: absolute;
  left: 1%;
  bottom: calc(var(--bottom) * 1%);
  height: 120px;
}

.clocktower {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.logo {
  animation: zoom-in-and-out 1s ease infinite;
}

/* This is the animation that zooms the logo in and out */

@keyframes zoom-in-and-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
